body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

header {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

section {
    display: -webkit-flex;
    display: flex;
    background-color: #f1f1f1;
}

nav {
    background-color: #f1f1f1;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #f07841;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px;
}

a.active {
    border-radius: 10px;
    background-color: #eb5f1e;
    color: white;
}

li a:hover:not(.active) {
    background-color: #f07841;
    color: white;
}


/* Change the link color on hover */

li a:hover {
    background-color: #f07841;
    color: white;
    border-radius: 10px;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 5%;
}


/* table css */

table {
    width: 100%;
    margin: 0 auto;
    border: 2px;
}

th {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: #333333;
}


/* form css */

input[type=text] {
    width: 80%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
}

input[type=button] {
    background-color: #eb5f1e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
    background-color: #eb5f1e;
    background-position-x: 8%;
    padding: 10px;
    text-align: center;
    color: white;
}