.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  margin: 10px;
  height: 20px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 5px;
}

.App-link {
  color: #09d3ac;
}
.card{
  justify-items: center;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  color: #455a64;
}
footer{
  background:blue;
  overflow:hidden;
  flex-shrink: 0;
}
