<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>com.enigma.servlet.student.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentServletDetail</servlet-name>
    <servlet-class>com.enigma.servlet.student.StudentServletDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentInput</servlet-name>
    <servlet-class>com.enigma.servlet.student.StudentInputServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/student.doang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentServletDetail</servlet-name>
    <url-pattern>/studentdetail.doang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentInput</servlet-name>
    <url-pattern>/studentinput.doang</url-pattern>
  </servlet-mapping>

</web-app>
