<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_4.xsd"
         version="2.4">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>com.enigma.servlet.student.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>studentServletDetail</servlet-name>
    <servlet-class>com.enigma.servlet.student.StudentServletDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentInput</servlet-name>
    <servlet-class>com.enigma.servlet.student.StudentInputServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/student.doang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>studentServletDetail</servlet-name>
    <url-pattern>/studentdetail.doang</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentInput</servlet-name>
    <url-pattern>/studentinput.doang</url-pattern>
  </servlet-mapping>

</web-app>
